Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
backports.ssl-match-hostname==3.4.0.2
docker-py==0.6.0
flake8==2.2.5
itsdangerous==0.24
mccabe==0.2.1
pep8==1.5.7
py==1.4.26
pyflakes==0.8.1
pytest==2.6.4
requests==2.4.3
six==1.8.0
tox==1.8.1
virtualenv==1.11.6
websocket-client==0.21.0
wsgiref==0.1.2
